
.landing-container{
	background-color:#F5F0DC;
	box-sizing: content-box;
	height:auto;
	padding-top:30px;
}
.landing-img img{
	height: 600px;
	width: 100%;
	display:block;
	text-align: center;
}
.landing-row{
	padding-left: 15px;
    padding-right: 15px;
}
.title{
	font-size: 35px;
	text-align: center;
}
.view-container{
	height: 60%;
	width:40%;
	background-color: black;
	margin-top:25px !important;
	margin:auto;
}
a{
	font-size:20px;
	
}
.footer-row{
	background-color: black;
	height:100px;
	margin-top:5rem;
}
span{
	color:white;
}
.home-container{
	background-color:#F5F0DC;
	box-sizing: border-box;
	height:auto;
}
.home-header-row{
	padding-left: 15px;
    padding-right: 15px;
}
.logo-container{
	margin-top:2rem;
}
.home-title{
	font-size: 35px;
	text-align: center;
}
.home-border{
	border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top:20px;
}
.feature-col{
	height:auto;
}
.img-container{
	height:auto;
	border:1px solid black;
	box-sizing: content-box;
	margin-top:20px;
	background-color: #f3d1bc
}
.fig-container{
	height: 80%;
	width: 80%;
	margin:auto;
	display:block;
	margin-top:25px;
	}
.image-size{
	height: 400px;
	width: 100%;
}
figcaption{
	text-align: center;
}
.about-container{
	height:300px;
	width:100%;
	border:1px solid black;
}
.pic{
	height: 100%;
	width: 100%;
	margin:auto;
	display:block;

}
.pic-col{
	margin-top:30px;
}
.pic-des{
	margin-top:30px;
}







