*{
  box-sizing: border-box;
 }   
 

body, html {
  background-image: url('../images/background.jpeg');
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
 
}
.container{
    margin-top:8rem;
    height:80%;
  }

.bg-image {

  background-image: url('../images/background6.jpeg');
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
/*  border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0px;
  text-align: center;
  width:65%;

 }  
 h2 small{
  color:white;
 } 
 h4{
  color: white;
   text-decoration:none;
   height:50px;
   background-color:#0099cc;
 }

 .brush{
  margin-top:5px;
  color:yellow;
 }
 .brush2{
  color:red;
 }
 .brush3{
  color:blue;
 }

 a:visited{
  color: white;
 }
 h4.view{
  padding-top:6%;
 }