
*{
	font-family: 'Noto Serif TC', serif;
}
.landing-container{	
	background-color:#d9e6f2;	
}
.header{
	background-color:  #d3d3d3;
	height:50px;
}
.header-content{
	font-family: 'Charmonman', cursive;
	text-align: center;
	font-weight: bold;
	padding-top:15px;
}
.header-row{
	height: 80px;
	background-color: #336699;
}
.main-header-row{
	background-color: #7851a9;

}
.orig-logo{
	height:40px;
	width:60%;
}

img.ayen-photo{
	height:280px;
	width: 70%;	
	margin-top:30px;
	border:10px solid white;
}
img.noel-photo{
	height:280px;
	width: 70%;	
	margin-top:-5rem;
	border:10px solid white;
	
}
.ayen-quote{
	margin-top:10rem;
	margin-left:-9rem;
}
.view-container{
	margin-top:-7rem;
	
}
i{
	font-size: 17px;
}
.photo-container{
	height:400px;
	width:100%;
}
.title{
	font-size: 35px;
	text-align: center;
}
.view-container{
	position:relative;
		top:50%;
}

.footer-row{
	background-color: #7851a9;
	height:50px;
}
.home-footer-row{
	background-color: #d3d3d3;
	height:100px;
}

span{
	color:black;

}
.main-container{
	box-sizing: border-box;
	height:auto;
	background-size:cover;
	background-color: #D3D3D3;
}

.main-header-row{
	padding-left: 15px;
    padding-right: 15px;

}
.row.row-featured {
    background-color: #7851a9;
    margin-top: 20px;
}

.home-title{
	font-size: 20px;
	color:black;
	margin-bottom: -1rem;
	margin-top:1rem;
}

.feature-col{
	height:auto;
	background-color:#7851a9;
}
button.btn.btn-outside {
	background-color:#7851a9;
}

.img-container{
	height:auto;
	box-sizing: content-box;
	margin-top:20px;
	
}
.fig-container{
	
	width: 60%;
	margin:auto;
	display:block;
	margin-top:50px;
	}
.image-size{
	height: 300px;
	width: 100%;
}
figcaption{
	text-align: center;
}

.about-container{
	height:300px;
	width:100%;
	border:1px solid black;
}
.pic{
	height: 100%;
	width: 100%;
	margin:auto;
	display:block;

}
.pic-col{
	margin-top:5rem;
}
.pic-des{
	margin-top:5rem;
}

  .carousel-inner img {
      width: 100%;
      height:400px;
  }
  
.italic { font-style: italic; }
.small { font-size: 0.8em; }

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
.navbar-toggler-icon{
	color:black;
}

.active{
	background-color:#d3d3d3;
}
.active-nav{
	background-color: #e6ccff;
}
a.nav-link.land.active {
    margin-top: 8px;
    font-size: 12px;
}
a.nav-link{
	color:black;
}
.form-group{
	width: 100%;
	margin-top:1rem;
}
.submit{
	width: 50%;
}
.figfont{
	font-size: 12px;
}
.artist-title{
	padding-top:15px;
	margin-bottom:-5px;
}
h3.artist-title {
    margin-bottom: 15px;
}
.bio{
	text-align: justify;
	font-size: 12px;
}
.icon{
	position:relative;
	display: inline-block;
	margin-top:15rem;
	margin-right: 15px;
	
}
.fa{
	font-size:50px;

}
.icon-large{
	font-size:50px;
	
}
.misvis{
	margin-top:3rem;
}
.map{
	width: 100%;
	height:350px;
	border:0px;
	margin-top: 1rem;
}
.direction-row{
	margin-top:2rem;
	margin-bottom:-5px;

}

.btn{
	width:100%;
	height:100%;
}
.figfont{
	overflow: hidden;
}
.inside-image-size{
	height: 400px;
	display: block;
	margin:auto;
}
.modal-body{
	height:500px;
	width: 100%;
}
.modal-footer{
	margin-top:10px;
}
.btn-inside{
	background-color:#336699; 
}
.inside-image-size-1{
	height:500px;
	display: block;
	margin:auto;
}
.inside-figfont{
	overflow: hidden;
}
.modal-body-1{
	height:560px;
	width:100%;
}
.container-modal{
	margin-top:10px;
}
.mission-pic{
	height:300px;
}






